<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solar System</title>
  </head>
  <body class="moonBody">
    <section id="moonSection">
      <nav>
        <ul>
          <p><a href="../index.html">Solar System</a></p>
          <div>
            <Li> <a href="./index.html">Contact Me</a> </Li>
            <li>About</li>
          </div>
        </ul>
      </nav>
    </section>
    <div id="moonDiv">
        <form action="mailto:nicolettastruggia@hotmail.com">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea name="message" cols="20" rows="10"
            placeholder="Message"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <script type="module" src="/moon.js"></script>
  </body>
</html>
